<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>Ejemplo8</display-name>
    <servlet-name>Ejemplo8</servlet-name>
    <servlet-class>Ejemplos.Ejemplo8</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Teoria9</display-name>
    <servlet-name>Teoria9</servlet-name>
    <servlet-class>Teoria9</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Ejemplo10a</display-name>
    <servlet-name>Ejemplo10a</servlet-name>
    <servlet-class>Ejemplos.Ejemplo10a</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Ejemplo10b</display-name>
    <servlet-name>Ejemplo10b</servlet-name>
    <servlet-class>Ejemplos.Ejemplo10b</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejemplo8</servlet-name>
    <url-pattern>/Ejemplo8</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Teoria9</servlet-name>
    <url-pattern>/Teoria9</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ejemplo10a</servlet-name>
    <url-pattern>/Ejemplo10a</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ejemplo10b</servlet-name>
    <url-pattern>/Ejemplo10b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EjemConcurrencias</display-name>
    <servlet-name>EjemConcurrencias</servlet-name>
    <servlet-class>EjemConcurrencias.EjemConcurrencias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EjemConcurrencias</servlet-name>
    <url-pattern>/EjemConcurrencias</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>EjemploListener.listener</listener-class>
  </listener>
  <listener>
    <listener-class>Ejemlistener2.Ejemlistener2</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Ejemplo13</display-name>
    <servlet-name>Ejemplo13</servlet-name>
    <servlet-class>Ejemplo13.Ejemplo13</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejemplo13</servlet-name>
    <url-pattern>/Ejemplo13</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EjemploFiltro</display-name>
    <filter-name>EjemploFiltro</filter-name>
    <filter-class>EjemploFiltro.EjemploFiltro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EjemploFiltro</filter-name>
    <url-pattern>/EjemploFiltro</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Ejemplo14</display-name>
    <servlet-name>Ejemplo14</servlet-name>
    <servlet-class>Ejemplos14.Ejemplo14</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejemplo14</servlet-name>
    <url-pattern>/Ejemplo14</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejemplo14b</display-name>
    <servlet-name>Ejemplo14b</servlet-name>
    <servlet-class>Ejemplos14.Ejemplo14b</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejemplo14b</servlet-name>
    <url-pattern>/Ejemplo14b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio1</display-name>
    <servlet-name>Ejercicio1</servlet-name>
    <servlet-class>ejercicios_VI_EVENTOS_Y_FILTROS.Ejercicio1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio1</servlet-name>
    <url-pattern>/Ejercicio1</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>ejercicios_VI_EVENTOS_Y_FILTROS.listener1</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ServletEstadistica</display-name>
    <servlet-name>ServletEstadistica</servlet-name>
    <servlet-class>AD_T1_EJER_VII_JSP3_APLICACIÓN_JEE_ESTADÍSTICA.ServletEstadistica</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEstadistica</servlet-name>
    <url-pattern>/ServletEstadistica</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejem_ServletPool</display-name>
    <servlet-name>Ejem_ServletPool</servlet-name>
    <servlet-class>Ejem_ServletPool.Ejem_ServletPool</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejem_ServletPool</servlet-name>
    <url-pattern>/Ejem_ServletPool</url-pattern>
  </servlet-mapping>
</web-app>