<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Ejercicio1</servlet-name>
  	<display-name>Ejercicio1</display-name>
  	<description></description>
  	<servlet-class>Ejercicios1.Ejercicio1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio1_3</servlet-name>
  	<display-name>Ejercicio1_3</display-name>
  	<description></description>
  	<servlet-class>Ejercicios1.Ejercicio1_3</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio1_2</servlet-name>
  	<display-name>Ejercicio1_2</display-name>
  	<description></description>
  	<servlet-class>Ejercicios1.Ejercicio1_2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio2</servlet-name>
  	<display-name>Ejercicio2</display-name>
  	<description></description>
  	<servlet-class>Ejercicios1.Ejercicio2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio3</servlet-name>
  	<display-name>Ejercicio3</display-name>
  	<description></description>
  	<servlet-class>Ejercicios1.Ejercicio3</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio_2</servlet-name>
  	<display-name>Ejercicio_2</display-name>
  	<description></description>
  	<servlet-class>Ejercicios1.Ejercicio_2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio_22</servlet-name>
  	<display-name>Ejercicio_22</display-name>
  	<description></description>
  	<servlet-class>Ejercicios1.Ejercicio_22</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio4</servlet-name>
  	<display-name>Ejercicio4</display-name>
  	<description></description>
  	<servlet-class>Ejercicios1.Ejercicio4</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio5</servlet-name>
  	<display-name>Ejercicio5</display-name>
  	<description></description>
  	<servlet-class>Ejercicio5</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio2b</servlet-name>
  	<display-name>Ejercicio2b</display-name>
  	<description></description>
  	<servlet-class>Ejercicios1.Ejercicio2b</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio6</servlet-name>
  	<display-name>Ejercicio6</display-name>
  	<description></description>
  	<servlet-class>Ejercicio6</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio22b</servlet-name>
  	<display-name>Ejercicio22b</display-name>
  	<description></description>
  	<servlet-class>Ejercicios1.Ejercicio22b</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio2c</servlet-name>
  	<display-name>Ejercicio2c</display-name>
  	<description></description>
  	<servlet-class>Ejercicios1.Ejercicio2c</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio3_1</servlet-name>
  	<display-name>Ejercicio3_1</display-name>
  	<description></description>
  	<servlet-class>Ejercicios3.Ejercicio3_1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejericico3_2</servlet-name>
  	<display-name>Ejericico3_2</display-name>
  	<description></description>
  	<servlet-class>Ejercicios3.Ejericico3_2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejericico3_3</servlet-name>
  	<display-name>Ejericico3_3</display-name>
  	<description></description>
  	<servlet-class>Ejercicios3.Ejericico3_3</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio3_3b</servlet-name>
  	<display-name>Ejercicio3_3b</display-name>
  	<description></description>
  	<servlet-class>Ejercicios3.Ejercicio3_3b</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio3_4</servlet-name>
  	<display-name>Ejercicio3_4</display-name>
  	<description></description>
  	<servlet-class>Ejercicios3.Ejercicio3_4</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio3_5</servlet-name>
  	<display-name>Ejercicio3_5</display-name>
  	<description></description>
  	<servlet-class>Ejercicios3.Ejercicio3_5</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio3_7</servlet-name>
  	<display-name>Ejercicio3_7</display-name>
  	<description></description>
  	<servlet-class>Ejercicios3.Ejercicio3_7</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Ejercicio1</servlet-name>
  	<url-pattern>/Ejercicio1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio1_3</servlet-name>
  	<url-pattern>/Ejercicio1_3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio1_2</servlet-name>
  	<url-pattern>/Ejercicio1_2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio2</servlet-name>
  	<url-pattern>/Ejercicio2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio3</servlet-name>
  	<url-pattern>/Ejercicio3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio_2</servlet-name>
  	<url-pattern>/Ejercicio_2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio_22</servlet-name>
  	<url-pattern>/Ejercicio_22</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio4</servlet-name>
  	<url-pattern>/Ejercicio4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio5</servlet-name>
  	<url-pattern>/Ejercicio5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio2b</servlet-name>
  	<url-pattern>/Ejercicio2b</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio6</servlet-name>
  	<url-pattern>/Ejercicio6</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio22b</servlet-name>
  	<url-pattern>/Ejercicio22b</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio2c</servlet-name>
  	<url-pattern>/Ejercicio2c</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio3_1</servlet-name>
  	<url-pattern>/Ejercicio3_1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejericico3_2</servlet-name>
  	<url-pattern>/Ejericico3_2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejericico3_3</servlet-name>
  	<url-pattern>/Ejericico3_3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio3_3b</servlet-name>
  	<url-pattern>/Ejercicio3_3b</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio3_4</servlet-name>
  	<url-pattern>/Ejercicio3_4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio3_5</servlet-name>
  	<url-pattern>/Ejercicio3_5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio3_7</servlet-name>
  	<url-pattern>/Ejercicio3_7</url-pattern>
  </servlet-mapping>
</web-app>
