<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <listener>
    <listener-class>pojo.eventosExamen</listener-class>
  </listener>
  <filter>
    <display-name>filtrosExamen</display-name>
    <filter-name>filtrosExamen</filter-name>
    <filter-class>pojo.filtrosExamen</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filtrosExamen</filter-name>
    <url-pattern>/filtrosExamen</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCotizacion</display-name>
    <servlet-name>ServletCotizacion</servlet-name>
    <servlet-class>ServletCotizacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCotizacion</servlet-name>
    <url-pattern>/ServletCotizacion</url-pattern>
  </servlet-mapping>
</web-app>